@using UltimateMovies.Areas.Admin.ViewModels
@model ActorsListingModel

@{
    ViewData["Title"] = "Actors";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-primary" style="margin-bottom: 30px;">
    <h1 class="" style="margin-bottom: 30px">Actors</h1>

    <div>
        <a href="/Admin/Actors/Create" class="btn btn-primary">Create</a>
    </div>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-1">Id</th>
                <th scope="col" class="col-lg-3"></th>
                <th scope="col" class="col-lg-4">Name</th>
                <th scope="col" class="col-lg-4">Functionalities</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model.Actors)
            {
            <tr class="row">
                <th class="col-lg-1" style="margin-top: auto; margin-bottom: auto; border-top: none">@actor.Id</th>
                <th class="col-lg-3" style="margin-top: auto; margin-bottom: auto; border-top: none"><img src="@actor.PictureUrl" alt="Alternate Text" width="50%" style="border-radius: 7rem; border: 1px solid black" /></th>
                <th class="col-lg-4" style="margin-top: auto; margin-bottom: auto; border-top: none">@actor.Name</th>
                <th class="col-lg-4" style="margin-top: auto; margin-bottom: auto; border-top: none">
                <a href="/Admin/Actors/Edit/@actor.Id" class="btn btn-success">Edit</a>
                <a href="/Actors/Details/@actor.Id" class="btn btn-info">Details</a>
                <a href="/Admin/Actors/Remove/@actor.Id" class="btn btn-danger">Delete</a>
                </th>
            </tr>
            }
        </tbody>
    </table>
</div>

