@using UltimateMovies.ViewModels.Users
@model WishListListingModel

@{
    ViewData["Title"] = "WishList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>WishList</h1>

<div class="container justify-content-center">
    <table class="table table-hover text-center">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-3">Poster</th>
                <th scope="col" class="col-lg-3">Name</th>
                <th scope="col" class="col-lg-6"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.WishList)
            {
                <tr class="row">
                    <th class="col-lg-3" style="margin-top: auto; margin-bottom: auto; border-top: none"><img src="@movie.PosterUrl" alt="Alternate Text" width="100" height="150" /></th>
                    <th class="col-lg-3" style="margin-top: auto; margin-bottom: auto; border-top: none">@movie.MovieName</th>
                    <th class="col-lg-6" style="margin-top: auto; margin-bottom: auto; border-top: none">
                        @if (movie.IsMovieInUserLibrary)
                        {
                            <a href="/User/Library" class="btn btn-primary">Library</a>
                        }
                        else
                        {
                            <a href="/Movies/BuyDigital/@movie.MovieId" class="btn btn-primary">Buy Digital!</a>
                        }
                        <a href="/Cart/Add/@movie.MovieId" class="btn btn-success">Add To Cart (Blu-Ray)</a> <a href="/User/RemoveMovieFromWishList/@movie.MovieId" class="btn btn-outline-danger">Remove</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
