@using UltimateMovies.Areas.Admin.ViewModels
@model DeliveredOrdersList

@{
    ViewData["Title"] = "Delivered";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="text-center text-primary" style="margin-bottom: 30px">
    <h1>Delivered</h1>
</div>

<div class="container" style="font-size: 14px">
    <table class="table table-hover text-center">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-1">
                    Id
                </th>
                <th scope="col" class="col-lg-3">
                    Order Date
                </th>
                <th scope="col" class="col-lg-2">
                    Delivery Type
                </th>
                <th scope="col" class="col-lg-2">
                    Payment Type
                </th>
                <th scope="col" class="col-lg-4"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DeliveredOrders)
            {
                <tr class="row">
                    <th class="col-lg-1">@item.Id</th>
                    <th class="col-lg-3">@item.DeliveredDate.ToString()</th>
                    <th class="col-lg-2">@item.DeliveryType.ToString()</th>
                    @if (item.PaymentType == PaymentType.CashOnDelivery)
                    {
                        <th class="col-lg-2">Cash</th>
                    }
                    else
                    {
                        <th class="col-lg-2">@item.PaymentType.ToString()</th>
                    }
                    <th class="col-lg-4">
                        <a href="/Admin/Orders/Details/@item.Id" class="btn btn-info" style="font-size: 0.9rem">Details</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
