@using UltimateMovies.ViewModels.Cart
@model CartListingModel

@if (Model.CartMovies.Count() != 0)
{
    <div class="container">
        <table class="table">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-lg-4">Movie</th>
                    <th scope="col" class="col-lg-4">Price</th>
                    <th scope="col" class="col-lg-4">Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cartMovie in Model.CartMovies)
                {
                    <tr class="row">
                        <th class="col-lg-4">@cartMovie.MovieName</th>
                        <th class="col-lg-4">@cartMovie.Price</th>
                        <th class="col-lg-4">@cartMovie.Quantity</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Your cart is empty!</p>
}
