@using UltimateMovies.ViewModels.Actors
@model ActorsListingModel

@{
    ViewData["Title"] = "Actors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-bottom: 20px">Actors</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr class="row">
                <th scope="col" class="col-lg-4">Id</th>
                <th scope="col" class="col-lg-4">Name</th>
                <th scope="col" class="col-lg-4">Functionalities</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model.Actors)
            {
                <tr class="row">
                    <th class="col-lg-4">@actor.Id</th>
                    <th class="col-lg-4">@actor.Name</th>
                    <th class="col-lg-4"><a href="#">Edit</a> | <a href="/Actors/Details/@actor.Id">Details</a> | <a href="#">Delete</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>

