@{
    ViewData["Title"] = ViewData["OrderId"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pay</h1>

<div class="container">
    <form action="Pay" method="post">
        <input type="hidden" name="orderId" value="@ViewData["OrderId"]" />
        <div class="form-group text-center">
            <input type="submit" value="Pay Online" class="btn btn-primary" />
        </div>
    </form>
</div>
