@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to UltimateMovies</h1>
    <h3 class="d-block">Here you can find the best movies!</h3>
    <h3 class="d-block">Scroll down, select the movie you want and watch it!</h3>
</div>
