@using Microsoft.AspNetCore.Identity
@using UltimateMovies.Components
@inject SignInManager<UMUser> SignInManager
@inject UserManager<UMUser> UserManager

<style>
    .justThis .dropdown-menu li:hover {
        background-color: #3B5998;
    }
</style>

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown justThis">
            <a class="nav-link text-white dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#"><i class="fas fa-user"></i> Hello, @User.Identity.Name!</a>
            <ul class="dropdown-menu bg-primary keep-open">
                <li><a class="btn text-white dropdown" href="/User/WishList" style="width: 100%; text-align: left"><i class="fas fa-heart"></i> Wish List</a></li>
                <li><a class="btn text-white dropdown" href="/User/Library" style="width: 100%; text-align: left"><i class="fas fa-film"></i> Library</a></li>
                <li><a class="btn text-white dropdown"href="/Orders/" style="width: 100%; text-align: left"><i class="fas fa-folder"></i> Orders</a></li>
                <li><a class="btn text-white dropdown" href="/Addresses/" style="width: 100%; text-align: left"><i class="fas fa-map-marker-alt"></i> Addresses</a></li>
                <li><a class="btn text-white dropdown" asp-area="Identity" asp-page="/Account/Manage/Index" style="width: 100%; text-align: left"><i class="fas fa-cog"></i> Settings</a></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-white" style="width: 100%; text-align: left"><i class="fas fa-sign-out-alt"></i> Logout</button>
                    </form>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" role="button" data-toggle="dropdown" data-hover="dropdown" href="#"><i class="fas fa-shopping-cart"></i> My Cart</a>
            <ul class="dropdown-menu bg-white keep-open">
                @await Component.InvokeAsync(typeof(CartComponent))
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-user-plus"></i> Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
    }
</ul>